<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Transactions</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript">
		var a = document.getElementsByClassName('blur-image');

		document.addEventListener("DOMContentLoaded", function() {
		  var b = a[0].getAttribute("data-src");
		      c = document.getElementsByClassName('full-image'),
		      img = new Image;

		  img.src = b;
		  img.onload = function () {
		    c[0].classList.add('image-loaded'),
		    c[0].style.backgroundImage = 'url(' + b + ')';
		  };
		});
	</script>
</head>
<body>
<header class="header-section blur-image" data-src="bg.jpg">
  <div class="full-image">
   <div>
   <div class="userbar">
   <p style="FONT-WEIGHT: 200;margin: 5px 20px;font-size: 24px;" th:text="${username}"></p>
   </div>
		<div class="center">
		
			<h1>Lista delle transazioni</h1>
			<table border="1">
			<tr>
				<td>Data</td>
				<td>Valore</td>
				<td>Causale</td>
			</tr>
				<th:block th:each="transaction : ${list}">
					<tr>
						<td th:text="${transaction.data}">...</td>
						<td th:text="${transaction.valore}">...</td>
						<td th:text="${transaction.causale}">...</td>
					</tr>
				</th:block>
				<tr>
					<td>Totale: </td>
					<td th:text="${balance}"></td> 
				</tr>
			</table>
		</div>
	</div>
  </div>
</header>

</body>
</html>